workflow.json
{
  "name": "Twitter to Telegram RSS Bot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "650f2f0e-3d54-4c22-92d8-87e3cb81d880",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://xcancel.com/temmuz1919/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "4ebb66a1-3300-4dee-b645-4aa61a814793",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=Yeni Haber Düştü! 📢\n\nBaşlık: {{ $json.title }}\nLink: {{ $json.link }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        -16
      ],
      "id": "92b2ff94-5e43-4f6f-a9f8-e6795178257f",
      "name": "Send a text message",
      "webhookId": "1cc01422-4364-4da2-acff-fa4aad2bb65b"
    },
    {
      "parameters": {
        "jsCode": "// n8n'in kalıcı hafızasını çağırıyoruz\nconst staticData = $getWorkflowStaticData('global');\nstaticData.gonderilenler = staticData.gonderilenler || [];\n\n// Versiyona göre veri girişini yakalama (input ya da $input kullanımı)\nconst incomingItems = (typeof input !== 'undefined' && input.all) ? input.all() : (typeof $input !== 'undefined' && $input.all) ? $input.all() : [];\n\n// Sadece daha önce gönderilmemiş (hafızada olmayan) linkleri filtrele\nconst yeniIlanlar = incomingItems.filter(item => {\n  const link = item.json.link;\n  return link && !staticData.gonderilenler.includes(link);\n});\n\n// Yeni ilanların linklerini hafızaya kaydet (bir sonraki sefer tekrar gitmesinler diye)\nyeniIlanlar.forEach(item => {\n  staticData.gonderilenler.push(item.json.link);\n});\n\n// Hafızanın şişmesini önlemek için sadece son 500 linki tutalım\nif (staticData.gonderilenler.length > 500) {\n  staticData.gonderilenler = staticData.gonderilenler.slice(-500);\n}\n\n// Sadece yeni olan ilanları bir sonraki adıma (Telegram'a) gönder\nreturn yeniIlanlar;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        160
      ],
      "id": "aa541e8d-7f39-4274-b5f3-0d8bea35237f",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "nodeGroups": [],
  "tags": []
}
